<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Pass{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'create_password' %}" class="nav-link">Create Password</a></li>
                <li><a href="{% url 'vault_home' %}" class="nav-link">Vault</a></li>
                <li><a href="{% url 'account' %}" class="nav-link">Account</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; CIS 476 Password Manager  App</p>
    </footer>
    <script> 
        document.addEventListener('copy', function() {
            console.log('Text copied to clipboard.');
            setTimeout(function() {
                navigator.clipboard.writeText(' ').then(function() {
                    console.log('Clipboard cleared automatically after 60 seconds.');
                }).catch(function(err) {
                    console.error('Failed to clear clipboard automatically:', err);
                });
            }, 60000);
        });
    </script>
</body>
</html>
