{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<main class="form-container">
    <h1>Change Password</h1>
    {% if messages %}
        <div class="messages">
            <ul>
                {% for message in messages %}
                    <li class="error-message">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Change Password</button>
    </form>
    <p><a href="{% url 'account' %}" class="button">Back to Account</a></p>
</main>
{% endblock %}
