{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<body>
    <main class="form-container">
        <h1>Change Password</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="error-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
        <p><a href="{% url 'account' %}">Back to Account</a></p>
    </main>
</body>
{% endblock %}