{% extends 'base.html' %}

{% block content %}
<h1>Create a New Password</h1>
<form method="post" class="form-container">
    {% csrf_token %}
    <label for="account_name">Account Name:</label>
    <input type="text" id="account_name" name="account_name" value="{{ account_name }}" required>

    <label for="complexity">Select Password Complexity:</label>
    <select name="complexity" id="complexity" class="button">
        <option value="simple">Simple</option>
        <option value="complex">Complex</option>
    </select>

    <label for="custom_password">Or enter your own password:</label>
    <input type="password" id="custom_password" name="custom_password" placeholder="Enter your password" value="{% if password %}{{ password }}{% endif %}" />

    <label>
        <input type="checkbox" name="save_to_vault" value="yes"> Save this password in my Vault
    </label>

    <button type="submit" class="button" onclick="clearPasswordField()">Generate and Save Password</button>
</form>

{% if password %}
    <h3>Generated Password:</h3>
    <p id="generated-password">{{ password }}</p>
{% endif %}
{% endblock %}

<script>
    function clearPasswordField() {
        // Clear the custom password input field before submitting the form
        document.getElementById('custom_password').value = '';
    }
</script>

