{% extends 'base.html' %}

{% block title %}Create New Password{% endblock %}

{% block content %}
<h1>Create a New Password</h1>
<form method="post">
    {% csrf_token %}
    <label for="password_name">Password Name:</label>
    <input type="text" id="password_name" name="password_name" required>
    
    <label for="password_value">Password:</label>
    <input type="password" id="password_value" name="password_value" required>
    
    <button type="submit">Save</button>
</form>
{% endblock %}
