{% extends 'base.html' %}

{% block title %}Create New Password{% endblock %}

{% block content %}
<h1>Create a New Password</h1>
<form method="post">
    {% csrf_token %}
    <label for="account_name">Account Name:</label>
    <input type="text" id="account_name" name="account_name" required>

    <label for="complexity">Select Password Complexity:</label>
    <select name="complexity" id="complexity">
        <option value="simple">Simple</option>
        <option value="complex">Complex</option>
    </select>

    <label for="custom_password">Or enter your own password:</label>
    <input type="password" id="custom_password" name="custom_password" placeholder="Enter your password" />

    <button type="submit">Generate and Save Password</button>
</form>

{% if password %}
    <h3>Generated Password:</h3>
    <p>{{ password }}</p>
{% endif %}
{% endblock %}
