<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main class="form-container">
        <h1>Forgot Password</h1>
        
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message.tags }}: {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Next</button>
        </form>
    </main>
</body>
</html>