<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body></body>
    <h1>Forgot Password</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="answer">
            {% if request.session.current_question == 'favorite_color' %}
                What is your favorite color?
            {% elif request.session.current_question == 'birth_city' %}
                What city were you born in?
            {% elif request.session.current_question == 'first_employer' %}
                What is the name of your first employer?
            {% endif %}
        </label>
        {{ form.answer }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>