{% extends 'base.html' %}

{% block content %}

<h2>Your Identities</h2>
<a href="{% url 'identity_create' %}" class="uk-button uk-button-primary uk-margin-large-top uk-margin-large-bottom uk-width-auto uk-align-center">Add New Identity</a>
<ul>
    {% for identity in identities %}
    <li>
        <a href="{% url 'identity_detail' identity.pk %}" class="credit-card-link">{{ identity.full_name }}</a>
        (<a href="{% url 'identity_update' identity.pk %}" class="button">Edit</a>,
         <a href="{% url 'identity_delete' identity.pk %}" class="button">Delete</a>)
    </li>
    {% empty %}
    <li>No identities saved.</li>
    {% endfor %}
</ul>
<a href="{% url 'vault_home' %}" class="uk-button uk-button-primary uk-margin-large-top uk-margin-large-bottom uk-width-auto uk-align-center">Back to Vault</a>
{% endblock %}
