<!-- identity_list.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Your Identities</h2>

{% if identities %}
    <ul>
        {% for identity in identities %}
            <li>
                <a href="{% url 'identity_detail' identity.pk %}">{{ identity.full_name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no identities saved.</p>
{% endif %}

<a href="{% url 'identity_create' %}" class="uk-button uk-button-primary uk-margin-large-top uk-margin-large-bottom uk-width-auto uk-align-center">Add New Identity</a>
<a href="{% url 'vault_home' %}" class="uk-button uk-button-primary uk-margin-large-top uk-margin-large-bottom uk-width-auto uk-align-center">Come Back to Vault</a>
{% endblock %}
