{% extends 'base.html' %}

{% block title %}Vault{% endblock %}

{% block content %}
<h1>Your Vault</h1>
<p>Here are all your stored passwords:</p>
<ul>
    {% for account in user_accounts %}
    <li>
        <strong>{{ account.name }}:</strong> {{ account.password }}
        <a href="{% url 'edit_password' account.id %}" class="button">Edit</a>
        <a href="{% url 'delete_password' account.id %}" class="button">Delete</a>
    </li>
    {% empty %}
    <li>No passwords saved yet.</li>
    {% endfor %}
</ul>
<a href="{% url 'create_password' %}" class="button">Add New Password</a>
{% endblock %}